$priColor: #84ffc9;
$secColor: #eca0ff;
$auxColor: #aab2ff;

@import './header';
@import './boxmodel';
@import './styleguide';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;


}

.htmltags{
    font-family: "Lucida Console", Courier, monospace;
}

